.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8px;
  background: #fff;
  list-style: none;
  user-select: none;
  
}

.tags__item {
  margin: 4px;
}

.tags__btn {
  padding: 4px 10px 4px;
}

.tags__btn--active {
  color: fff;
  background: brown;
}